body{
    background-image: url("TheUltimateBoardGame.jpg");
     background-size: 100%;

}
.Chess{
      width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
}
.Checkers{
    width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 30%;
}

